# Chi2 Fisher Score

Compute chi-squared stats between each non-negative feature and class.

This score should be used to evaluate categorical variables in a classification task.

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data=pd.read_csv('train.csv')
data.shape

(891, 12)

In [3]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

the categorical variables in the titanic are PClass, Sex and Embarked

First Lets encode the variables

In [6]:
# for Sex / Gender
data['Sex'] = np.where(data.Sex == 'male', 1, 0)

# for Embarked
ordinal_label = {k: i for i, k in enumerate(data['Embarked'].unique(), 0)}
data['Embarked'] = data['Embarked'].map(ordinal_label)

In [8]:
data['Embarked'].value_counts()

0    644
1    168
2     77
3      2
Name: Embarked, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    data[['Pclass', 'Sex', 'Embarked']],
    data['Survived'],
    test_size=0.3,
    random_state=0)

In [11]:
(X_train.shape,y_train.shape)

((623, 3), (623,))

In [12]:
(X_test.shape,y_test.shape)

((268, 3), (268,))

In [13]:
from sklearn.feature_selection import chi2,SelectKBest,SelectPercentile

In [14]:
f_score = chi2(X_train.fillna(0), y_train)
f_score

(array([21.61080949, 63.55447864, 11.83961845]),
 array([3.33964360e-06, 1.55992554e-15, 5.79837058e-04]))

 The first array represents the F-Score and the second represents p-values

In [15]:
pvalues = pd.Series(f_score[1])
pvalues.index = X_train.columns
pvalues.sort_values(ascending=False)

Embarked    5.798371e-04
Pclass      3.339644e-06
Sex         1.559926e-15
dtype: float64

In [16]:
X_train.head()

     Pclass  Sex  Embarked
857       1    1         0
52        1    0         1
386       3    1         0
124       1    1         0
578       3    0         1